@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 40% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 50%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 210 40% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 225 10% 8%;
    --foreground: 210 20% 98%;
    --card: 225 10% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 225 10% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 48 96% 59%;
    --primary-foreground: 48 96% 10%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 14% 34%;
    --muted-foreground: 215 10% 65%;
    --accent: 215 14% 34%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 14% 34%;
    --input: 215 14% 24%;
    --ring: 48 96% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
